/* 
    Created on : 15 juin 2023, 14:29:29
    Author     : aymer
*/

@font-face {
    font-family: 'nunito_sansblack';
    src: url("assets/front/nunitosans-black-webfont.woff2") format('woff2'),
        url("assets/front/nunitosans-black-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Définit un conteneur flexible avec des éléments centrés horizontalement et verticalement.
Il a une couleur de fond bleue (#243AB1) avec des coins arrondis.
La taille du texte est en gras, de 16 pixels, et de couleur blanche (#FFFFFF). */
#se_connecter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;



    background: #243AB1;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;


    /* style pour le texte du button */
    border-radius: 8px;

    font-family: 'tahoma';
    font-style: normal;
    font-weight: bold;
    /*    font-weight: 700;
        font-size: 16px;
        line-height: 22px;*/

    color: #FFFFFF;
}

#se_connecter:hover {
    background: #15267E;
}

nav{


    background: #FFFFFF;

    font-family: 'tahoma';
    box-shadow: 0px 16px 24px rgba(36, 58, 176, 0.15);
}

/*.carousel-item {
    position: relative;  Position relative pour le positionnement des éléments enfants 
}*/

.carousel-item img {
    width: 100%; /* Largeur de l'image à 100% de son conteneur */
    height: auto; /* Hauteur automatique pour conserver les proportions de l'image */
}

.overlay {
    position: absolute; /* Position absolue pour positionner l'élément de superposition */
    top: 0; /* Position en haut du conteneur parent */
    left: 0; /* Position à gauche du conteneur parent */
    width: 50%; /* Largeur de l'élément de superposition à 50% du conteneur parent */
    height: 100%; /* Hauteur de l'élément de superposition à 100% du conteneur parent */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    color: #fff; /* Couleur du texte en blanc */
    display: flex; /* Affichage en mode flexbox */
    align-items: center; /* Alignement vertical des éléments enfants au centre */
    justify-content: center; /* Alignement horizontal des éléments enfants au centre */
}

.content {
    text-align: center; /* Alignement du texte au centre */
}
/* modifie le titre dans l'overlay'*/
.content h2 {
    margin-bottom: 10px; /* Marge inférieure de 10 pixels pour le titre h2 */
    font-family: 'tahoma'; /* Police de caractères 'tahoma' pour le titre h2 */
    font-style: normal; /* Style de police normal pour le titre h2 */
    font-weight: 800; /* Poids de police gras (800) pour le titre h2 */
    font-size: 64px; /* Taille de police de 64 pixels pour le titre h2 */
    line-height: 100%; /* Hauteur de ligne de 100% pour le titre h2 */
}
/*modifie la description dans l'overlay'*/
.content p {
    font-size: 16px; /* Taille de police de 16 pixels pour le paragraphe p */
    margin-bottom: 20px; /* Marge inférieure de 20 pixels pour le paragraphe p */
    font-family: 'tahoma'; /* Police de caractères 'tahoma' pour le paragraphe p */
}
/*modifie le texte dans le bouton*/
.content button {
    font-family: 'tahoma'; /* Police de caractères 'tahoma' pour le bouton */
    font-style: normal; /* Style de police normal pour le bouton */
    font-weight: 700; /* Poids de police gras (700) pour le bouton */
    font-size: 16px; /* Taille de police de 16 pixels pour le bouton */
    line-height: 22px; /* Hauteur de ligne de 22 pixels pour le bouton */
}

.carousel-indicators {
    justify-content: left; /* Alignement horizontal des indicateurs au centre */
    gap: 32px; /* Espacement horizontal de 32 pixels entre les indicateurs */
    margin-bottom: 0; /* Marge inférieure de 0 pour les indicateurs */
}

.h1c{
    text-align: left;
    margin-bottom: 1%;
    margin-top: 5%;
    color: #243AB0;
    font-weight: bold;
    margin-left: 4%;
}

.card-v{
    /* Card */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    font-family: 'tahoma';

    /* Background/backgroundPrimary */

    background: #FFFFFF;
    border: 1px solid #E6EAFA;
    /* Blue-z-index2 */

    box-shadow: 0px 8px 12px rgba(36, 58, 176, 0.1);
    border-radius: 16px;
}

/* Change le fond de toute la zone prévue pour les card, ajoute des espace au-dessus et en dessous pour qu'il ne soit pas collé au autre élément.
Fais en sorte que la zone prenne toute la largeur dès l'écran surtout pour le background et il adapte sa hauteur en fonction des éléments qu'il possède.*/
.equipe{
    background: #E7EAFA;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    width: 100%;
    height: auto;
}

/*applique une taille maximal de 616px aux card, met le fond en blanc et change la police du texte*/
.cp{
    max-width: 616px;
    background: white;
    font-family: 'tahoma';

}

/* applique la couleur #253AB2 au fond du titre de la card*/
.titleP{
    background: #253AB2;
}
/* Aligne le texte du titre à gauche, ajoute un espace en dessous et à gauche du texte, modifie la couleur du titre et met le texte en gras.*/
.h1e{
    text-align: left;
    margin-bottom: 5%;
    margin-left: 4%;
    color: #243AB0;
    font-weight: bold;
  font-family: 'tahoma';
}

.containContact{
    margin-top: 5%;
    margin-bottom: 2%;
}
/*modifie le conteneur du formulaire
enléve les marge, grossi la zone, change la couleur de fond et arrondis les bord*/
.cc {
    margin: 0 auto;
    padding: 72px 80px;
    background: #E7EAFA;
    border-radius: 16px;
}
/*modifie le titre de la partie
change la couleur et la taille du texte, le mets en gras et fais en sorte 
que si le texte est trop long cela coupe les mot*/
.ctc {
    color: #243AB0;
    font-size: 36px;
    font-weight: 800;
    line-height: 52px;
    word-wrap: break-word;
}

.form-group {
    margin-bottom: 24px;
}
/*modifie le texte au dessus des inputs
change la couleur et la taille,le met en gras et permet de couper les mot si il dépasse*/
.form-group label {
    color: #001018;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
}

/* modifie les input du formulaire
ajoute un bordure, arondis mes coin du champ, grossi le champ et change la couleur du fond*/
.form-group .form-control {
    border: 0.5px solid #8996A2;
    border-radius: 8px;
    padding: 12px;

    background-color: #ffffff;
}
/*modifie la zone avec l'icon
 change la couleur du fond et de l'icon*/
.input-group-text{
    background: #243AB0;
    color: white;
}


/*modifi les texte d'aide dans le formulaire
change la couleur, la taille du texte et coupe les mot long si il dépasse*/
.form-group .form-text {
    color: #4E5D6B;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
}


/* modifier les input 
supprime les espace qu'il pourais avoir a gauche, met le fond en blanc'*/
.form-group .form-input input {
    padding-left: 0;
    background: white;
    width: 100%;
  
}

/* modifier le texte dans les champ
elle modifie la couleurn et la taille, mets le texte en gras et permet de
couper les mots long qui dépasse */
.form-group .form-input input::placeholder {
    color: #687787;
    font-size: 16px;
    font-weight: bold;

    word-wrap: break-word;
}
/* Classe pour l'input du textarea 
mets sa taille a 100%, ajoute une bordure, arrondis des bord et désactive la
posibilité de modifier la taille du champ par l'utilisateur */
.form-group .form-textarea textarea {
    width: 100%;
    border: 0.5px solid #8996A2;
    border-radius: 8px;
    height: 100%;
    resize: none;
}
/* Classe pour le bouton qui envoie le formulaire

Changez le fond du bouton et la couleur du texte, met le texte en gras,
arrondissez les bords, ajoutez des espaces vides à l'intérieur du bouton pour
le grossir et créez une animation de transition lorsqu'on le survole.   */
.btnc {
    background: #243AB0;
    color: #FFFFFF;
    font-size: 16px;
font-weight: bold;
    border-radius: 8px;
    padding: 12px 40px;
    width: 100%;
    transition: background-color 0.3s ease;
}
/* quand on  survol le bouton d'envoi il change de couleur */
.btnc:hover {
    background: #15267E;
}




.container {
    display: flex;
}

.form {
    flex: 1;
}

/*Modifie la zone prévue pour accueillir les informations de contact et la carte.
Ajoute un espace au-dessus de la zone.*/
.map {
    margin-top: 3%;
}

/* Modifie la zone prévue pour les informations de contact.
Modifie la taille de la zone et ajoute un espace en dessous de la zone.*/
.custom-container {
    width: 467px;
    height: 254px;
    padding-bottom: 2%;
}

/* modifie le rond derriére l'icône
modifie la taille du rond, lui ajout un fond et modifie ces bordure pour former un rond*/
.custom-circle {
    width: 56px;
    height: 56px;
    background: #E7EAFA;
    border-radius: 9999px;
}


/*modifie la zone prévue pour acceillir l'icône
modifie la taille et la postion de l'icône*/
.custom-icon {
    width: 38px;
    height: 28px;
    left: 14px;
    top: 14px;
    position: absolute;
}
/* Modifie l'icône.
Modifie sa position, sa couleur et la taille. */
.custom-inner-icon {
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #243AB1;
    font-size: 150%;
}

/* Modifie le titre des information
il change sa couleur, sa taille; sa police , le met en gras permet de
couper les mots long qui dépasse */
.custom-title {
    color: #001018;
    font-size: 22px;
    font-family: tahoma;
    font-weight: 800;
    line-height: 26px;
    word-wrap: break-word;
}
/* modifie les information
il change sa couleur, sa taille; sa police , le met en gras permet de
couper les mots long qui dépasse */
.custom-text {
    color: #001018;
    font-size: 20px;
    font-family: tahoma;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}

.ml{
     text-align: center;
/*    margin-bottom: 5%;*/
    color: #243AB0;
    font-weight: bold;
/*    margin-left: 4%;*/
}

.btnA{
    background: #243AB1;
    color: white;
}
.btnA:hover {
    background: #15267E;
}

/*Elle modifie le titre de la partie introduction.
Elle change la couleur du texte, ajoute un espace en dessous et au-dessus du titre, change la police du texte et met le texte en gras.*/
.h1Intro{
    color: #243AB0;
    margin-bottom: 5%;
    margin-top: 7%;
    font-family: tahoma;
    font-weight: bold;
    
}

*{
    font-family: tahoma;
}

.h4i{
    font-family: tahoma;
}

  .ulpresentation {
    list-style-type: none;
    
  }