/* 
    Created on : 15 juin 2023, 14:29:29
    Author     : aymer
*/
#se_connecter{ /* modifie le bouton se connecter*/
    display: flex;  /*Définit l'affichage en tant que conteneur flexible.*/
    flex-direction: row; /* Définit la direction des éléments enfants en tant que rangée.*/
    justify-content: center; /*Centre les éléments horizontalement dans le conteneur*/
    align-items: center; /*Centre les éléments verticalement dans le conteneur.*/
    padding: 14px 24px; /*Définit les espaces de remplissage de 14 pixels en haut et en bas, et de 24 pixels à gauche et à droite.*/

    width: 172px; /*Définit la largeur de l'élément à 172 pixels.*/
    height: 48px; /*Définit la hauteur de l'élément à 48 pixels.*/

    background: #243AB1; /*: Définit la couleur d'arrière-plan de l'élément comme bleu foncé (#243AB1).*/

    /* style pour le texte du button */
    border-radius: 8px; /* Applique un rayon de bordure de 8 pixels, créant des coins arrondis.*/

    font-family: 'Nunito Sans'; /*applique la police Nunito Sans*/
    font-style: normal;
    /*chanque la taille du texte*/
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF; /* Définit la couleur du texte a noir*/
}

#se_connecter:hover { /* chanque la couleur du bouton quand on passe la souris dessus*/
    background: #15267E;
}
nav{ /*modifie la barre de navigation entiére*/
    background: #FFFFFF;

    box-shadow: 0px 16px 24px rgba(36, 58, 176, 0.15); /* ajoute un ombre a la barre de navigation*/
}

.carousel {
    position: relative;
}

.slide {
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
}

.content h2 {
    /*  font-size: 24px;*/
    margin-bottom: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
}

.content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.content button {
    /*    padding: 10px 20px;
        font-size: 16px;
        background-color: #fff;
        color: #000;
        border: none;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;

    width: 152px;
    height: 48px;

    background: #243AB1;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 8px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}